@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-green-500 underline dark:text-blue-900 ;
}
.btn {
  @apply main-color text-white hover:bg-[#0aad0a] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
:disabled {
  @apply opacity-40;
}
.row {
  @apply flex flex-wrap mx-4;
}

body {
  padding-top: 4rem;
  font-family: "Inter", sans-serif;
}

.slide-slick {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-image: url(../src/assets/images/slide-1.jpg);
}
.main-color {
  background-color: var(--main--color);
}
.color-green {
  color: var(--main--color);
}

h1 {
  font-size: 48px;
}

#root {
  --main--color: #099609;
}

.card {
  padding: 2em;
}
